body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'PT Serif', serif;
  font-size: 1.2em;
}

h1 {
  margin-top: 50px auto 0 auto;
  font-family: 'Poiret One', cursive;
  font-size: 5.625rem;
  color: #D0E8F2;
}

h2 {
  font-family: 'PT Sans', sans-serif;
  font-size: 2.5rem;
  color: #5F6F94;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: 'PT Sans', sans-serif;
  color: #5F6F94;
}

hr {
  border-style: dotted none none none;
  border-width: 8px 0 0 0;
  margin: 100px auto 100px auto;
  border-color: #161B36;
  width: 5%;
}

p {
  line-height: 2;
}

.footer-link {
  color: #5F6F94;
  font-family: 'PT Serif', serif;
  margin: 10px 20px;
  text-decoration: none;
}

.footer-link:hover {
  color: #D0E8F2;
}

.btn {
  background: #5F6F94;
  background-image: -webkit-linear-gradient(top, #5F6F94, #161B36);
  background-image: -moz-linear-gradient(top, #5F6F94, #161B36);
  background-image: -ms-linear-gradient(top, #5F6F94, #161B36);
  background-image: -o-linear-gradient(top, #5F6F94, #161B36);
  background-image: linear-gradient(to bottom, #5F6F94, #161B36);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: font-family: 'PT Serif', serif;
  color: white;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #D0E8F2;
  background-image: -webkit-linear-gradient(top, #D0E8F2,  #5F6F94);
  background-image: -moz-linear-gradient(top, #D0E8F2,  #5F6F94);
  background-image: -ms-linear-gradient(top, #D0E8F2,  #5F6F94);
  background-image: -o-linear-gradient(top, #D0E8F2,  #5F6F94);
  background-image: linear-gradient(to bottom, #D0E8F2,  #5F6F94);
  text-decoration: none;
}

.copyright {
  color: #D0E8F2;
  font-size: 0.75em;
  padding: 20px 0;
}

.top-container {
  background-color: #161B36;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  background-color: white;
  margin: 100px 0 100px 0;
}

.bottom-container {
  background-color: #161B36;
  padding: 50px 0 20px;
}

.moon {
  position: absolute;
  top: 50px;
  right: 300px;
  width: 10%;
}

.stars {
  position: absolute;
  left: 280px;
  bottom: 320px;
  width: 15%;
}

.mountain {
  width: 100%;
}

.bio {
  width: 50%;
  margin: auto;
}

.contact-message {
  width: 50%;
  margin: 40px auto 60px auto;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.profile-pic {
  width: 15%;
}

.bioreactor {
  width: 25%;
  background-color: #BAD7E9;
  border-radius: 50%;
  float: left;
  margin-right: 30px;
}

.programming {
  width: 25%;
  background-color: #FEF5AC;
  border-radius: 50%;
  float: right;
  margin-left: 30px;
}

.umpiring {
  width: 25%;
  background-color: #BAD7E9;
  border-radius: 50%;
  float: left;
  margin-right: 30px;
}

.birdie {
  width: 25%;
  background-color: #FEF5AC;
  border-radius: 50%;
  float: right;
  margin-left: 30px;
}

.piano {
  width: 25%;
  background-color: #BAD7E9;
  border-radius: 50%;
  float: left;
  margin-right: 30px;
}

.translate {
  width: 25%;
  background-color: #FEF5AC;
  border-radius: 50%;
  float: right;
  margin-left: 30px;
}


